/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* CSS Variables */
:root {
    --primary: #28223F;
    --dark: #28223F;
    --light: #ddd;
    --shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

/* Base Style */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

body{
    background-color: #28223F;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    /* width: 100%; */
    /* height: 100%; */
    /* overflow: hidden; */
}

a{
    text-decoration: none;
}

/* Main */
