/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* CSS Variables */
:root {
    --primary: #28223F;
    --dark: #28223F;
    --light: #ddd;
    --shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

/* Base Style */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

body{
    background-color: #28223F;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    /* width: 100%; */
    /* height: 100%; */
    /* overflow: hidden; */
}

a{
    text-decoration: none;
}
/* Header */

/* Navigation */
nav {
    width: 100vw;
    background-color: #ffffff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    /* box-shadow: var(--shadow); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px;
    /* border: 1px solid yellow; */
}

.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
}
#square{
    font-size: 18px;
    color: #FEBB0B;
}
.nav-left #slash{
    font-size: 12px;
} 
nav p{
    margin: 5px;
}
.nav-left #name{
    font-size: 20px;
    font-weight: bold;
}
.nav-left #role{
    font-size: 18px;
}

/* Hamburger Menu */
.menu{
    border: 0;
    cursor: pointer;
    display: none;
    font-size: 22px;
    position: relative;
    padding: 0;
    outline: none;
    height: 30px;
    width: 30px;
    background-color: var(--primary);
}
.menu:active{
    outline: none;
}
.menu .line{
    background-color: var(--light);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    height: 3px;
    width: 20px;
    transition: transform 0.2s ease; 
}

.menu .line:first-of-type{
    top: 40%;
}

.menu .line:last-of-type{
    top: 60%;
}

.menu-ul{
    display: flex;
    list-style: none;
}

.menu-ul li{
    margin: 0 10px;
    font-weight: 700;
    border-left: 4px solid #ffffff;
}

.menu-ul li a{
    color: var(--primary);
    text-transform: uppercase;
    position: relative;
    padding: 10px;
}

.menu-ul li:hover {
    border-left: 4px solid #FEBB0B;
}

.menu-ul li:hover a{
    color: #FEBB0B;
}

/* Media Query */
@media screen and (max-width: 940px){
    .menu{
        display: block;
    }

    .menu.show-menu .line:first-of-type{
        transform: translate(-50%, 50%) rotate(225deg);
    }

    .menu.show-menu .line:last-of-type{
        transform: translate(-50%, -150%) rotate(-225deg);
    }

    .menu-ul{
        background-color: #ffffff;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        text-align: center;
        position: fixed;
        top: 120px;
        left: 10%;
        transform: translateX(120%);
        width: 80%;
        transition: transform 0.3s ease-in;
        z-index: 100;
    }

    .menu-ul.show-ul{
        transform: translate(0);
    }

    .menu-ul li{
        margin: 15px;
    }

}

@media screen and (max-width: 503px){
    .nav-left{
        position: relative;
    }
    #square{
        font-size: 15px;
    }
    .nav-left #slash{
        display: none;
    } 
    .nav-left #name{
        font-size: 16px;
        font-weight: bold;
    }
    .nav-left #role{
        font-size: 14px;
        position: relative;
        top: 18px;
        right: 170px;
    }
    .menu{
        width: 28px;
        height: 28px;
    }
    .menu .line{
        height: 3px;
        width: 18px;
    }
}

@media screen and (max-width: 395px){
    .nav-left #role{
        display: none;
    }
    .menu{
        width: 28px;
        height: 28px;
    }
    .menu .line{
        height: 3px;
        width: 18px;
    }
}
/* Media Query End   */

/* Style Main */
main{
    width: 100vw;
    /* height: 100vh; */
    height: 100%;
    /* overflow: hidden; */
    /* margin: 30px 50px; */
    display: grid;
    /* grid-gap: 20px; */
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-areas: 
        'card-section card-section info-section info-section'
        'card-section card-section info-section info-section';
}

/* Card Section */
#card-section{
    grid-area: card-section;
    padding: 4rem 0 2rem 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--primary);
}

.card-container img{
    width: 205px;
    height: 205px;
    /* width: 15vw; */
    /* height: 15vw; */
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 5px;
}

.card-container{
    background-color: #231E39;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
    color: #B3B8CD;
    width: 300px;
    text-align: center;
    position: relative;
    left: 70px;
}

.card-container .about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1.5rem 1rem 1.5rem;
}

.card-container h6{
    margin: 5px 0px;
    text-transform: uppercase;
}

.card-container p{
    letter-spacing: 4px;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 10px;
}

.card-container .round{
    border-radius: 50%;
    padding: 7px;
    /* border: 2px solid  #03BFCB; */
    border: 2px solid  #FEBB0B;
}

.card-line{
    width: 50px;
    height: 1px;
    background-color: #ddd;
}

.card-container .skills{
    background-color: #1F1A36;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.skills-title{
    width: 100%;
    text-align: left;
    /* color: #FEBB0B; */
    color: #231E39;
}
.skills-title h6{
    background-color: #FEBB0B;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    padding: 0.1vw 0.2vw 0.1vw 0.2vw;
}

.skills-skill{
    width: 100%;
    padding: 10px;

}
.skills ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(40px, 1fr));
    grid-gap: 8px;
}

.skills ul li{
    border: 1px solid #2D2747;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    padding: 0.5vw;
    margin: 0;
}

.skills ul li:hover{
    border-left: 1px solid  #FEBB0B;
    color: #FEBB0B;
}

/* info-section */
#info-section{
    grid-area: info-section;
    /* padding: 3rem; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* min-height: 100%; */
    background-color: #ffffff;
    /* min-height: 400px; */
    padding: 4rem 2rem 2rem 0;
}

.info-section-div{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    text-align: left;
    margin-left: 100px;
    /* margin-top: 110px; */
    /* padding-top: 18vh; */
    /* padding-left: 9vw; */
    /* width: 400px; */
    /* width: 38vw; */
    width: 33vw;
    /* width: 60vmin; */
    color: #1F1A36;;
}
.info-section-div .para1{
    font-size: 11vmin;
    /* font-size: 100px; */
    font-weight: 900;
}

.info-section-div .para2{
    font-size: 3vmin;
    font-weight: 500;
    margin-bottom: 20px;    
}

.info-section-div .para3{
    font-size: 2.8vmin;
    /* font-size: 1.3vmax; */
    /* font-size: 1.2vw; */
    margin-top: 30px;
    /* font-size: 1em; */
}
.info-section-div .btn-div{
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Button */
.btn{
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 700;
    margin: 10px 0;
    padding: 5px 5px;
    text-align: center;
    transition: 1min;
    /* width: 11vw; */
    /* font-size: 1.2vw; */
    font-size: 15px;
    width: 150px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.btn-resume{
    border: 2px solid  blue;
    background-color: blue;
    color: #ffffff;
    position: relative;
    margin-right: 15px;
}

.btn-resume:hover{
    color:blue;
    background-color: #ffffff;
    border: 2px solid blue;
}

.btn-projects{
    border: 2px solid blue;
    background-color: #ffffff;
    color: blue;
}

.btn-projects:hover{
    border: 2px solid blue;
    color: #ffffff;
    background-color: blue;
}
/* Button End */
/* Main End */

/* footer */
footer{
    background-color: #ffffff;
    color: #1F1A36;
    /* width: 100vw; */
    /* height: 12vh; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

footer div{
    /* margin-right: 6rem; */
    margin: 15px 50px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    color: #2D2747;
}

.linked-in-icon{
    color: blue;
    font-size: 20px;
}

.mail, .number{
    color: blue;
}

footer div p:nth-child(1) {
    margin-bottom: 5px;
}

@media screen and (max-width: 819px){
/* Style Main */
    main{
        width: 100vw;
        /* height: 100vh; */
        height: 100%;
        overflow: hidden;
        display: grid;
        grid-template-areas: 
            'card-section card-section'
            'info-section info-section';
        justify-items: center;
        align-items: center;
    }
    #card-section{
        grid-area: card-section;
        padding: 4rem 2rem 4rem 2rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: var(--primary);
    }
    .card-container{
        position: relative;
        left: 0;
    }
    #info-section{
        grid-area: info-section;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        padding: 4rem 2rem 4rem 2rem;
        /* margin-bottom: 10px; */
    }
    .info-section-div{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 0;
        width: 300px;
    }
    .info-section-div .para1{
        /* font-size: 11vmin; */
        font-size: 80px;
        font-weight: 900;
    }
    
    .info-section-div .para2{
        /* font-size: 3vmin; */
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;    
    }
    
    .info-section-div .para3{
        margin-top: 30px;
        font-size: 1em;
    }
    footer{
        width: 100%;
        height: 100%;
        /* padding: 10px; */
        display: flex;
        justify-content: space-evenly;
        /* align-items: center; */
        flex-wrap: wrap;
        flex-direction: row;
    }
    footer div{
        margin: 20px;
    }
}

@media screen and (max-width: 567px){
    footer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
}