/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Base Style */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

body{
    background-color: #28223F;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
}
/* Header */

/* Navigation */
nav {
    width: 100vw;
    background-color: #ddd;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px;
}

.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#28223F;
}
#square{
    font-size: 18px;
}
.nav-left #slash{
    font-size: 12px;
} 
nav p{
    margin: 5px;
}
.nav-left #name{
    font-size: 20px;
    font-weight: bold;
}
.nav-left #role{
    font-size: 18px;
}

/* Hamburger Menu */
.menu{
    border: 0;
    cursor: pointer;
    display: none;
    font-size: 22px;
    position: relative;
    padding: 0;
    outline: none;
    height: 30px;
    width: 30px;
    background-color: #28223F;
}
.menu:active{
    outline: none;
}
.menu .line{
    background-color: #ddd;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    height: 3px;
    width: 20px;
    transition: transform 0.2s ease; 
}

.menu .line:first-of-type{
    top: 40%;
}

.menu .line:last-of-type{
    top: 60%;
}

ul{
    display: flex;
    list-style: none;
}

ul li{
    margin: 0 10px;
}

ul li a{
    color: #28223F;
    text-transform: uppercase;
    position: relative;
    padding: 10px;
}

/* Media Query */
@media screen and (max-width: 914px){
    .menu{
        display: block;
    }

    .menu.show-menu .line:first-of-type{
        transform: translate(-50%, 50%) rotate(225deg);
    }

    .menu.show-menu .line:last-of-type{
        transform: translate(-50%, -150%) rotate(-225deg);
    }

    ul{
        background-color: #ddd;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        text-align: center;
        position: fixed;
        top: 100px;
        left: 10%;
        transform: translateX(120%);
        width: 80%;
        transition: transform 0.3s ease-in;
        z-index: 100;
    }

    ul.show-ul{
        transform: translate(0);
    }

    ul li{
        margin: 15px;
    }

}

@media screen and (max-width: 503px){
    .nav-left{
        position: relative;
    }
    #square{
        font-size: 15px;
    }
    .nav-left #slash{
        display: none;
    } 
    .nav-left #name{
        font-size: 16px;
        font-weight: bold;
    }
    .nav-left #role{
        font-size: 14px;
        position: relative;
        top: 18px;
        right: 170px;
    }
    .menu{
        width: 28px;
        height: 28px;
    }
    .menu .line{
        height: 3px;
        width: 18px;
    }
}

@media screen and (max-width: 395px){
    .nav-left #role{
        display: none;
    }
    .menu{
        width: 28px;
        height: 28px;
    }
    .menu .line{
        height: 3px;
        width: 18px;
    }
}
/* Media Query End   */

/* Style Main */
main{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
}
/* Card Section */
#card-section{
    height: inherit;
    /* width: 40vw; */
    width: 100%;
    background-color: #231E39;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-container{
    background-color: #231E39;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
    color: #B3B8CD;
    padding-top: 30px;
    position: relative;
    /* width: 300px; */
    width: 22vmax;
    height: 36.5vmax;
    /* width: 23vw; */
    /* height: 72vh; */
    /* width: 45vmin; */
    /* height: 70vmin; */
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 12vh; */
    /* margin-left: 24vw; */
    margin-right:30px;
}

.card-container img{
    /* width: 205px; */
    /* height: 205px; */
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 5px;
}

.card-container h6{
    margin: 5px 0px;
    text-transform: uppercase;
}

.card-container p{
    letter-spacing: 4px;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 10px;
}

.card-container .round{
    border-radius: 50%;
    padding: 7px;
    border: 2px solid  #03BFCB;
}

/* .card-container hr{
    width: 60px;
    height: 1ppx;
    background-color: #ddd;
    margin-top: 20px;
    outline: 0;
    border: none;
    border-radius: 5px;
} */

.card-line{
    width: 5vw;
    height: 0.2vh;
    background-color: #ddd;
    /* margin-top: 10px; */
}

.skills{
    background-color: #1F1A36;
    /* margin-top: 10px; */
    /* text-align: left; */
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.skills-title{
    width: 100%;
}
.skills-title h6{
    text-align: left;
} 
.skills ul{
    list-style: none;
    /* display: flex; */
    /* flex-wrap: wrap; */
    display: grid;
    /* grid-template-columns: repeat(3, 80px); */
    grid-template-columns: repeat(3, 6vw);
    grid-template-rows: repeat(auto, auto);
    grid-gap: 1vw;
    grid-auto-flow: row;
}

.skills ul li{
    border: 1px solid #2D2747;
    border-radius: 2px;
    /* display: inline-block; */
    /* font-size: 12px; */
    font-size: 0.8vw;
    /* margin: 0 7px 7px 0; */
    padding: 0.5vw;
    margin: 0;
    text-align: center;
}


/* Summary Section */
/* #summary-section{ */
    /* height: inherit; */
    /* width: 60vw; */
/* } */

.summary-section-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* text-align: left; */
    /* margin-left: 100px; */
    /* margin-top: 110px; */
    /* padding-top: 18vh; */
    /* padding-left: 9vw; */
    /* width: 500px; */
    /* width: 38vw; */
    width: 60vmin;
    color: #ffffff;
}

.summary-section-div .para1{
    font-size: 10vmin;
    font-weight: 600;
}

.summary-section-div .para2{
    font-size: 3vmin;
    font-weight: 500;
    margin-bottom: 20px;    
}

.summary-section-div .para3{
    font-size: 2.3vmin;
    /* font-size: 1.3vmax; */
    /* font-size: 1.2vw; */
    margin-top: 30px;
    /* font-size: 1em; */

}
.summary-section-div .btn-div{
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Button */
.btn{
    border: 1px solid blue; 
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 700;
    margin: 10px 0;
    padding: 5px 5px;
    text-align: center;
    transition: 1min;
    width: 11vw;
    font-size: 1.2vw;
     /* width: 150px; */
}

.btn-resume{
    border: 2px solid  blue;
    background-color: blue;
    color: #ffffff;
    position: relative;
    margin-right: 15px;
}

.btn-resume:hover{
    color:blue;
    background-color: #ffffff;
    border: 2px solid  #ffffff;
}

.btn-projects{
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color: blue;
}

.btn-projects:hover{
    border: 2px solid blue;
    color: #ffffff;
    background-color: blue;
}
/* Button End */

/* Media Query */
@media screen and (max-width: 1171px){
    main{
        width: 100vw;
        /* height: 90vh; */
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #card-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .card-container{
        background-color: #beb1f8;
        border-radius: 5px;
        box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
        color: #768ce7;
        width: 27vw;
        height: 63vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 0px;
        padding-top: 0px;
        margin-top: 70px;
        position: relative;
    }

    /* Summary Section */
    .summary-section-div{
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width:27vw;
        height: 65vh;
        color: #ffffff;
    }

}